* {
  margin: 0px;
}
.heloo {
  background-repeat: no-repeat;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  margin-top: 50px;
}
.email {
  margin-top: 25px;
  margin-bottom: 15px;
}
.password {
  margin-bottom: 15px;
}
.button {
  margin-bottom: 15px;
}
.forgotPassword {
  text-align: left;
}
.signUp {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}
